<div class="sk-product-card" id="Card-{{ product.id }}" data-animate>
 <form class="product-form sk-add-cart-form" action="/cart/add" data-productid="{{ product.id }}" method="post" enctype="multipart/form-data">


  <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.variants.first.id }}" />
  <input class="sk-card-qty" type="number" class="Quantity-{{ section.id }}" name="quantity" value="1" min="1" pattern="[0-9]*">
 
    <a class="sk-featured-product-a" href="{{product.url}}">
     {% comment %}
    This makes the image hover. We replaced this code with the one below to select the 2nd imgage
    {% if product.featured_image %}
      {% include 'card-image', type: product.featured_image, grid_style: grid_style %}
    {% endif %}
    {% endcomment %}

     <img class="card-img" src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{product.title}}">

	 <img class="hovered-img" src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{product.title}}">
    
   </a>
   
   {% if product.compare_at_price_min > 0 %}
   <div class="sale-tag">
   	<img src="{{'reshoe-sale.svg' | asset_url}}" title="On Sale" alt="On Sale" class="tag-sale" />
   </div>
   {%endif%}
   
   {% unless product.available %}
   	 <div class="sale-tag">
   	<img src="{{'sold-out.png' | asset_url}}" title="Sold Out" alt="Sold Out" class="tag-sold-out" />
   </div>
   {%endunless%}

    <div class="sk-card-info">
      {% if section.settings.show_vendor %}
        <div class="card__brand">{{ product.vendor }}</div>
      {% endif %}

      <a href="{{ product.url | within: collection }}" class="sk-card-title">{{ product.title }}</a>
<span class=" stamped-product-reviews-badge" data-product-sku="{{ product.handle }}" data-id="{{ product.id }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}"  style="display:block;">{{ product.metafields.stamped.badge }}</span>

     
      
       {%comment%}
       <input
         class="sk-add-cart-btn {% if section.settings.enable_payment_button and current_variant.available %} shopify-payment-btn btn--secondary{% endif %} add_to_cart"
         type="button" 
         value="ADD TO CART" 
         v_id="{{ product.variants.first.id }}"
         {% unless product.available %} disabled="true"{% endunless %}
       />
       {%endcomment%}
      
      {%comment%}Vishal - June 14th 2021 - Do not show price for Auction products{%endcomment%}
      {% if product.tags contains "auction" %}
      {% else %}
      
      <div class="sk-price-and-btn">
         {% if product.available %}
        <div class="sk-card-price">
          {%- assign variant = product.selected_or_first_available_variant %}
          {% if product.compare_at_price > product.price %}
            {% comment %}
              Product is on sale
            {% endcomment %}
            {% if product.price_varies %}
              {% assign sale_price = product.price | money_without_trailing_zeros %}
              <span class="visually-hidden"> {{ 'products.product.price' | t }} </span>
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
              <span class="card__price--sale">{{ product.price | money_without_trailing_zeros }}</span>

              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <span class="card__price--regular-strike">
                <span class="card__price--regular">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
              </span>
              {%- if variant.available and variant.unit_price_measurement -%}
                {% include 'product-unit-price', variant: variant %}
              {% endif %}
            {% endif %}

          {% else %}
            {% comment %}
              Not on sale, but could still have varying prices
            {% endcomment %}
            {% if product.price_varies %}
              {% assign price = product.price | money_without_trailing_zeros %}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              
          	  {% comment %} Austin - 11/16/20 - added VAT pricing by GeoIP {% endcomment %}
              <!-- product-card.liquid -->
              <script>
                  document.addEventListener('DOMContentLoaded', () => {
                      document.querySelector('#Card-{{ product.id }} > form > div > div > .sk-card-price').innerHTML = vats(sessionStorage.getItem('geoIPCountry'), {{ product.price }});
                  });
              </script>
          
          
              {%- if variant.available and variant.unit_price_measurement -%}
                {% include 'product-unit-price', variant: variant %}
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
      {% else %}
        <div class="card__availability">
          {{ 'products.product.sold_out' | t }}
        </div>
      {% endif %}
        
       {% comment %} Austin - 10/29/20 - Bytes Tech GeoIP migration changes, added styles {% endcomment %} 
       {% if product.id == 6694489620660 %}
        <a href="{{ product.url }}" class="sk-add-cart-btn product__add-to-cart-button animate" style = ”display: table !important; margin:0 auto;” {% unless product.available %} disabled="true" {% endunless %}>
           <span class="primary-text" aria-hidden=false data-cart-primary-submit-text>
            View
           </span>
        </a>
       {% else %}
         <button class="atc-trigger sk-atc product-card-addtocart sk-add-cart-btn product__add-to-cart-button animate" style = ”display: table !important; margin:0 auto;” {% unless product.available %} disabled="true" {% endunless %}>

           <span class="primary-text" aria-hidden=false data-cart-primary-submit-text>
            {% unless product.available %}
              {{ 'products.product.sold_out' | t }}
            {% else %}
              {{ 'products.product.add_to_cart' | t }}
            {% endunless %}
          </span>


         {%comment%}
          <span class="secondary-text" aria-hidden=true data-cart-secondary-submit-text>{{ 'products.product.view_cart' | t }}</span>
         {%endcomment%}
        </button>
       {% endif %}
      
      </div>
      {% endif %}
	
       {%comment%}Vishal - June 14th 2021 - Collection visual for auction products {%endcomment%}
      
      {% include 'tpa_collection' %}
            
    </div>
    
    {%comment%}
    {% if product.compare_at_price > product.price %}
      {% assign sale_text_length = 'products.product.on_sale' | t | size %}
      <span class="card__badge{% if sale_text_length > 6 %} card__badge--large{% endif %}">
        {{ 'products.product.on_sale' | t }}
      </span>
    {% endif %}
    {%endcomment%}
    
  
  </form>
</div>


