{% if request.page_type == 'blog' or request.page_type == 'collection' or
request.page_type == 'list-collections' or request.page_type == 'search' %}
    {%-
assign hide_footer = true -%}
{% endif %}

<!DOCTYPE html>
<html class="supports-no-js {% if hide_footer %} site-footer--hidden{% endif %}" lang="{{ shop.locale }}">
    <head>
{% comment %}EasylockdownHeadBegin{% endcomment %}{% capture elhRender %}{% render 'easylockdown_head', easylockdownRender: true, easylockdownCustomPriceSelector: easylockdownCustomPriceSelector %}{% endcapture %}{% assign elhRender = elhRender | split: '--elhResults--'%}{{ elhRender[0] }}{% comment %}EasylockdownHeadEnd{% endcomment %}
{% render 'geolizr-init' %}
      
       <meta name="p:domain_verify" content="5128b2377b76858cc56718c1542c14d0"/>
      
{% if handle contains 'customer-survey' %}
<meta name="robots" content="noindex">
{% endif %}
      
    <script> fbq('dataProcessingOptions', ['LDU'], 0, 0); </script> 

      
      <script src="https://cmp.osano.com/169lI0S4M9gLg4tEt/5cce80c2-eb4d-40ac-9ad4-55ab399c07d8/osano.js"></script>
      <style>.osano-cm-widget{display: none;}</style>
   
  
        <meta charset="utf-8"/>

        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width,initial-scale=1" name="viewport"/>
        <meta name="theme-color" content="{{ settings.color_primary }}"/>
        <link rel="canonical" href="{{ canonical_url }}"/>
      
      <script defer="defer" src="https://use.fontawesome.com/releases/v5.6.1/js/all.js" integrity="sha384-R5JkiUweZpJjELPWqttAYmYM1P3SNEJRM6ecTQF05pFFtxmCO+Y1CiUhvuDzgSVZ" crossorigin="anonymous"></script>

        {% if settings.favicon != blank %}
            <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png"/>
        {% endif %}

        <title>
            {{ page_title }}
            {% if current_tags %}
                {% assign meta_tags = current_tags |
      join: ', ' %}
                &ndash;
                {{ "general.meta.tags" | t: tags:meta_tags }}
            {%
      endif %}
            {% if current_page != 1 %}
                &ndash;
                {{ "general.meta.page" | t: page:current_page }}
            {% endif %}
            {% unless
      page_title contains shop.name %}
                &ndash;
                {{ shop.name }}
            {% endunless %}
        </title>

        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}"/>
        {% endif %}
        {% include 'social-meta-tags' %}

        {{ content_for_header }}
<meta name="locale-bar--browsing-context-suggestions-url" content="{{ routes.browsing_context_suggestions_url }}">
<meta name="locale-bar--current-language" content="{{ request.locale.iso_code }}">
<meta name="locale-bar--current-currency" content="{{ cart.currency.iso_code }}">

        {{
            "foundation.css" | asset_url | stylesheet_tag
          }}
        {{
          "slick.css" | asset_url | stylesheet_tag
        }}

        {{
          "slick-theme.css" | asset_url | stylesheet_tag
        }}

        {{
            "styleguide.scss.css" | asset_url | stylesheet_tag
          }}

        {{
          "skh.scss.css" | asset_url | stylesheet_tag
        }}

        {% include 'critical-css' %}
        {% include 'load-css' %}
      
      
      {% comment %} Austin - 11/03/20 - MS Clarity testing {% endcomment %}
      <script type="text/javascript">
          (function(c,l,a,r,i,t,y){
              c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
              t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
              y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
          })(window, document, "clarity", "script", "3vr699t28q");
      </script>
      
      
      
      	{% comment %} Austin - 11/16/20 - added vats.js for changing price by GeoIP {% endcomment %}
      	{{ "vats.js" | asset_url | script_tag }}
      
      
        <script>
      var theme = {
        stylesheet: "{{ 'theme.scss.css' | asset_url }}",
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          addItemSuccess: {{ 'products.product.item_added_to_cart' | t | json }},
          viewCart: {{ 'products.product.view_cart' | t | json }},
          cartError: {{ 'cart.general.cart_error' | t | json }},
          cartQuantityError: {{ 'cart.general.cart_quantity_error_html' | t: quantity: "[quantity]", title: "[title]" | json }},
          regularPrice: {{ 'products.product.regular_price' | t | json }},
          salePrice: {{ 'products.product.sale_price' | t | json }},
          unitPrice: {{ 'products.product.unit_price' | t | json }},
          unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
          newsletter: {
            blankError: {{ 'general.newsletter_form.blank_error' | t | json }},
            invalidError: {{ 'general.newsletter_form.invalid_error' | t | json }}
          },
          map: {
            zeroResults: {{ 'sections.map.address_no_results' | t | json }},
            overQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
            authError: {{ 'sections.map.auth_error_html' | t | json }},
            addressError: {{ 'sections.map.address_error' | t | json }}
          },
          slideshow: {
            loadSlideA11yString: {{ 'sections.slider.load_slide' | t: slide_number: '[slide_number]' | json }},
            activeSlideA11yString: {{ 'sections.slider.active_slide' | t: slide_number: '[slide_number]' | json }}
          }
        },
        isOnline: true,
        moneyFormat: {{ shop.money_format | json }},
        mediaQuerySmall: 750,
        mediaQueryMedium: 990
      };

      {% if request.page_type contains 'customers/' %}
        theme.countryOptionTags = {{ all_country_option_tags | json}};
      {% endif %}

      document.documentElement.className = document.documentElement.className.replace('supports-no-js', '');
    </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
        <script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>

      	{% comment %}Free Gifts{% endcomment %}
        {% comment %}<script src="{{ 'freegifts.js' | asset_url }}" defer="defer"></script>{% endcomment %}
      
      
      {% comment %} Austin - 11/18/20 - adding a black friday tiers discount script {% endcomment %}
      {% comment %} <script src="{{ 'cart-tier-discounts.js' | asset_url }}" defer="defer"></script> {% endcomment %}
          
      <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
        account: 'KxLpmN',
        platform: 'shopify',
      	exclude_on_tags: 'Digital'
    });
    klaviyo.enable('backinstock',{ 
        trigger: {
    product_page_text: 'Notify Me When Available',
    product_page_class: 'sk-btn-backinstock',
    product_page_text_align: 'center',
    product_page_margin: '0 auto',
    replace_sold_out: false
    },
        modal: {
    headline: '{product_name}',
    body_content: 'Register to receive a notification when this item comes back in stock.',
    email_field_label: 'Email',
 
    button_label: 'Notify me when available',
    subscription_success_label: 'You\'re in! We\'ll let you know when it\'s back.',
 
    footer_content: '',
    close_label: 'Close',
 
    drop_background_color: '#000',
    background_color: '#fff',
    text_color: '#222',
    button_text_color: '#fff',
    button_background_color: '#000000',
    close_button_color: '#ccc',
    error_background_color: '#fcd6d7',
    error_text_color: '#C72E2F',
    success_background_color: '#f1f1f1',
    success_text_color: '#000000'
    }
});
</script>
      
      <script>
        // Austin - 10/22/20
        // script will look for request parameter to open cart drawer
        
        document.addEventListener('DOMContentLoaded', () => {
    		if (window.location.search.includes('cart=true')) {
          		$(document).trigger('refresh-cart');
        		document.querySelector('body').classList.add('drawer--active');
    		}
		});
      </script>
      
    
  {% render 'shogun-head' %}
</head>

    <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{% if request.page_type != blank %}{{ request.page_type | handle }}{% else %}none{% endif %} data-animations">
      
      {% comment %} Austin - 10/29/20 - Bytes Tech GeoIP migration changes, included custom code snippet {% endcomment %}
      {% include 'custom-code-for-country-get' %}
      
      <main>
            <a class="visually-hidden skip-link" href="#MainContent">{{
      "general.accessibility.skip_to_content" | t
    }}</a>


            <div class="off-canvas-content" data-off-canvas-content>
                {% section 'header' %}

                <div class="main-content{% if request.page_type == blank %} main-content--no-template{% endif %}" data-drawer-push>
                    <div class="main-content__wrapper">
                        <main class="content-for-layout" id="MainContent" role="main">
                            {% comment %}{{ content_for_layout }}{% endcomment %}{% render 'easylockdown_body', content_for_layout: content_for_layout, elhDefines: elhRender[1] %}
                        </main>

                        <!--                    <button id="test">test</button> -->
                        {% section 'footer' %}
                    </div>
                </div>

                <ul hidden>
                    <li id="a11y-refresh-page-message">
                        {{ "general.accessibility.refresh_page" | t }}
                    </li>
                    <li id="a11y-selection-message">
                        {{ "general.accessibility.selection_help" | t }}
                    </li>
                </ul>
            </div>
            <!--end of off-canvas-->


            <div class="off-canvas position-right" data-off-canvas id="offCanvas">
                <div class="reshoe-logo-inner">
                    <img class="site-header__logo-image" src="{{ 'reshoe-logo.svg' | asset_url }}" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo"/>
                </div>

                <!-- Close button -->
                <button aria-label="Close menu" class="close-button" data-close type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                {%section 'nav-inner'%}
                <!-- end of header hamburgr menu -->
            </div>
        </main>

        {% include 'cart-drawer' %}


        <script src="{{ 'jquery.js' | asset_url }}"></script>
        <script src="{{ 'slick.min.js' | asset_url }}"></script>
        <script src="{{ 'foundation.min.js' | asset_url }}"></script>


        <script>
        $(document).foundation();
        
         $('.sk-pdp-slider').slick({
              dots: true,
           arrows: true,
           prevArrow: '<span class="sk-prev"><img src="{{'prev.svg' | asset_url}}" /></span>',
           nextArrow: '<span class="sk-next"><img src="{{'right.svg' | asset_url}}" /></span>'
         });

        
        
        
         $('.sk-product-detail').on("click", function() {
            $('.sk-product-desc').slideToggle();
            $('.pdp-sub').toggleClass('none')
            $('.pdp-add').toggleClass('none')
         })


         
         
         
//           $('.pdp-sub').on("click", function() { 
//               $(this).css('display', 'none');
//               $('.sk-product-desc').slideUp();
//               $('.pdp-add').css('display', 'block');
//           });

      </script>
      
      <!-- Bing Microsoft Ads tracking script added by Vishal--> 
      <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"17532064"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
      </script>
      
      

        <script async data-api-key="" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js" type="text/javascript"></script>

      
      <!--Gorgias Chat Widget Start--><script id="gorgias-chat-widget-install">!function(_){_.GORGIAS_CHAT_APP_ID="5615",_.GORGIAS_CHAT_BASE_URL="us-east1-898b.production.gorgias.chat",_.GORGIAS_API_BASE_URL="config.gorgias.chat";var e=new XMLHttpRequest;e.open("GET","https://config.gorgias.chat/applications/5615",!0),e.onload=function(t){if(4===e.readyState)if(200===e.status){var n=JSON.parse(e.responseText);if(!n.application||!n.bundleVersion)throw new Error("Missing fields in the response body - https://config.gorgias.chat/applications/5615");if(_.GORGIAS_CHAT_APP=n.application,_.GORGIAS_CHAT_BUNDLE_VERSION=n.bundleVersion,n&&n.texts&&(_.GORGIAS_CHAT_TEXTS=n.texts),n&&n.sspTexts&&(_.GORGIAS_CHAT_SELF_SERVICE_PORTAL_TEXTS=n.sspTexts),!document.getElementById("gorgias-chat-container")){var o=document.createElement("div");o.id="gorgias-chat-container",document.body.appendChild(o);var r=document.createElement("script");r.setAttribute("defer",!0),r.src="https://client-builds.production.gorgias.chat/{bundleVersion}/static/js/main.js".replace("{bundleVersion}",n.bundleVersion),document.body.appendChild(r)}}else console.error("Failed request GET - https://config.gorgias.chat/applications/5615")},e.onerror=function(_){console.error(_)},e.send()}(window||{});</script>
      
      
    <script>
		var gorgiasChatInterval = window.setInterval(function() {
    	var container = document.querySelector('#gorgias-chat-container')
   	 if (window.GorgiasChat && GorgiasChat.hasOwnProperty("on"))        {
   	 GorgiasChat.setShopifyContext('reshoevn8r-2.myshopify.com');
   	 }
		}, 50);
	</script>
      
      
      <!--Gorgias Chat Widget End-->
      
      
   
  <!-- Begin ReCharge code -->
{% include 'subscription-theme-footer' %}
<!-- End ReCharge code -->
      {% include 'product-cache-images' %}
{% render 'spurit_sct_theme_snippet' %}
      
      
      
      {% comment %} Austin - 11/19/20 - adding style corrections for Geolocation Popup {% endcomment %}
      <style> 
        .center-flex { display: flex; flex-flow: column wrap; justify-content: center; align-items: center; }
        
        .slickAnchorButton { padding: .25rem 1rem; border: 1px solid rgb(23,70,182); text-decoration: none; }
      </style>
      <script>
        let target = document.body, options = { childList: true }, callback = (mutations, observer) => {
          for (const mutation of mutations) {
            if (mutation.type === 'childList' && mutation.addedNodes.length > 0) {
              let nodes = mutation.addedNodes;

              nodes.forEach(node => {
                if (node.classList && node.classList.contains('slickModal')) {
                  node.querySelector('span.and-over').classList.add('center-flex');
                  //node.querySelector('p.ql-align-center').classList.add('slickAnchorButton');
                  node.querySelector('#Image-Popup').style.marginTop = '10rem';
                  node.querySelector('.slickContent').style.paddingTop = '8rem';
                  
                  let anchorWrap = document.createElement('a');
                  
                  /* ----------------------------
                   *      PLACE LINK HERE FOR POP UP NOTIFY APP
                   * ----------------------------
                   */
                  anchorWrap.href = 'https://reshoevn8r.com/collections/shoe-care-products';
                  
                  node.querySelector('#Image-Popup').parentElement.prepend(anchorWrap);
                  anchorWrap.prepend(node.querySelector('#Image-Popup'));
                }
              });
            }
          }
        }

        let observer = new MutationObserver(callback);

        //console.log(target);

        observer.observe(target, options);
      </script>
      
      {% comment %} ---------- BEGIN EXEC CLUB MEMBER DC WIDGET STYLES ---------- {% endcomment %}
      <style>
          .ec-widget {
              position: fixed;
              bottom: 2rem;
              left: 1rem;
              padding: .5rem;
              background-color: white;
              border: 2px solid black;
              z-index: 10;

              display: flex;
              flex-flow: column wrap;
              justify-content: center;
              align-items: center;
          }

          @media screen and (max-width: 649px) {
              .ec-widget {
                  display: none;
              }
          }
      </style>
      {% comment %} ---------- END EXEC CLUB MEMBER DC WIDGET STYLES ---------- {% endcomment %}



      {% comment %} ---------- BEGIN EXEC CLUB MEMBER DC WIDGET ---------- {% endcomment %}
      {% if customer.tags contains 'Exec Bronze' %}
          <div class="ec-widget">
              <h5>20% EXECUTIVE BRONZE DISCOUNT</h2>
              <h4 style="font-weight: 900;">CODE: EXECBRONZE</h2>
          </div>
      {% endif %}
      {% comment %} ---------- END EXEC CLUB MEMBER DC WIDGET ---------- {% endcomment %}
      
      {% comment %} Austin - 11/23/20 - modifying geolizr styles to prevent white bottom border {% endcomment %}
      <script>
          let b = 0, moveGeolizr = (mutations, observer) => {
              for (const mutation of mutations) {
                  if (mutation.addedNodes.length > 0) {
                      let nodes = mutation.addedNodes;

                      nodes.forEach(node => {
                          if (node.id === 'geolizr-notification-wrapper' && b < 1) {
                              let geolizr = document.querySelector('#geolizr-notification-message-wrapper');

                              geolizr.style.borderBottom = 'none';

                              document.querySelector('div.site-header__wrapper').prepend(document.querySelector('#geolizr-notification-wrapper'));

                              b++;
                          }
                      });
                  }
              }
          }

          let ob = new MutationObserver(moveGeolizr);

          ob.observe(document.body, { childList: true, subtree: true });
      </script>
      

  {% render 'geolizr-notification' %}</body>
</html>
